@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: Dosis, sans-serif;
}

/* Header */

header {
    background-image: url('../img/fondo.jpg');
    background-size: cover;
    height: 300px;
    background-position: bottom center;
    width: 100%;
}

nav {
    text-align: right;
    padding: 30px 20px 0 0;
}

nav > a {
    color: #FFFFFF;
    font-weight: 400;
    text-decoration: none;
    margin-right: 10px;
    background-color: rgb(146, 119, 172);
    border-radius: 5px;
    padding: 5px;
}

.img-align {
    text-align: center;
}

.img { 
    padding: 15px 0;
    height: 180px;
    width: auto;
}

.titulo {
    position: absolute;
    bottom: 53%;
    letter-spacing: 7px;
}

h1,h2 {
    background-color:rgb(146, 119, 172);
    color: #FFFFFF;
    padding: 5px;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
}


/* Main */

main {
    margin: 50px;
}


section {
    margin: 30px 0 30px 50px;
}

.descripcion {
    margin: 30px 20px 30px 20px;

}

/* Footer */

.contacto {
    text-align: center;
    background-color: rgb(146, 119, 172);
    color: #FFFFFF;
    font-size: 20px;
}

.icono-link {
    text-decoration: none;
    color: #FFFFFF;
}